@using System.Globalization
@using Adliance.Storyblok.Extensions

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AspNetStoryblok example website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @Html.StoryblokEditorScript()
</body>
</html>
